<a href="https://colab.research.google.com/github/DeepakR19/INTERNSOFTcodefiles/blob/main/day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Person:
  pass
i = Person()
i.name = 'Deepak'
i.surname = 'Reddy'
i.yob = 2002
print(i)
print("%s %s was bron in the year %d." %(i.name, i.surname, i.yob))

<__main__.Person object at 0x7f559da55590>
Deepak Reddy was bron in the year 2002.

In [ ]:
class Person:
  def __init__(self,name,surname,yob):
    self.name = name
    self.surname = surname
    self.yob = yob
Deepak = Person("Deepak","Reddy",2002)
print("%s %s was bron in the year %d." %(Deepak.name, Deepak.surname, Deepak.yob))

<__main__.Person object at 0x7fdf2ca261d0>
Deepak Reddy was bron in the year 2002.

In [ ]:
class Person:
  def __init__(self,name,surname,yob):
    self.name = name
    self.surname = surname
    self.yob = yob
  def age(self,currentyear):
    return currentyear - self.yob
  def __str__(self):
    return "%s %s was bron in the year %d." %(self.name, self.surname, self.yob)
Deepak = Person("Deepak","Reddy", 2002)
print(Deepak)
print(Deepak.age(2021))

Deepak Reddy was bron in the year 2002.
19

In [ ]:
class Student(Person):
  def __init__(self, student_id, *args, **kwargs):
    super(Student,self).__init__(*args, **kwargs)
    self._student_id = student_id
Deepak = Student(1, 'Charlie', 'Brown', 2006)
print(Deepak)
print(type(Deepak))
print(isinstance(Deepak, Person))
print(isinstance(Deepak, object))

Charlie Brown was bron in the year 2006.
<class '__main__.Student'>
True
True

In [ ]:
class Student(Person):
  def __init__(self, student_id, *args, **kwargs):
    super(Student,self).__init__(*args, **kwargs)
    self._student_id = student_id

    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)

Charlie Brown was bron in the year 2006.